$primary_color: #ffffff;
$secondary_color: #31373f;

$high_24h: #01bb1a; 
$low_24h: #ee0404;

$crypto_icon_size: 25px;

$width_percent_size: 100%;

$rem_pos: 1rem;

$desktop_breakpoint: 768px;


$font_size_typo: 11px;